body
{
    padding: 0;
    margin: 0;
    font-family: 'Courgette', cursive;
    background: rgba(202, 237, 240, 0.69);
}

header
{
    padding: 10px 0;
    background:#256a72;  
}
.navbar-brand
{
    font-family:Baloo+Paaji;
    font-size: 25px;
}
span
{
    color:  #ff8061;
    font-family:Baloo+Paaji;   
}
ul li a
{
  color: white;  
}
.container i{
    display: none;
}
.list-menu
{
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
   
}
.lista-menu li 
{
    color: white;
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: inline;
    padding-left: 5%;
}


.fondoflor
{
    background: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
 
    width: 100%;
    
}
 .text-center
{
   padding: 20%;
    background-color: rgba(37, 106, 114, 0.73);
    margin-bottom: 3%;
   
}
.container  .color
{
    background-color:#256a72;
     
}

.letras h1
{
    font-size: 50px;
    
}
h1,h3
{
    text-align: center;
    color: #ff8061;
    font-family:Baloo+Paaji;
}
p,h4
{
    color: white;
    text-align: center;
    font-family: 'Prompt', sans-serif;
    
}
 .todo
{
    background: #256a72; 
    padding-top: 1%;
    padding-bottom: 1%;
}
.todo p
{
    color: black;
    font-family:100,200,300,400,500,700"
    
}

.container
{
    width: 900px;
    margin: 0 auto;
}

.clearfix
{
    display: table;
    
}
.clearfix:after
{
    content:" ";
    clear:both;
}
.izquierda , .derecha 
{
    float: left;
    box-sizing: border-box;
    padding: 10px;
     background:#256a72
}

.izquierda
{
    width: 60%; 
    background:rgba(188, 244, 241, 0.94); 
}

.derecha
{
    width: 40%;
}
.block-form .about
{
    margin: 10px;
    background: #c5f3f8;
    padding: 15px;
    text-align: center;
}

.block-form .search
{
    margin:0px 10px 0px 10px;
    background: #c5f3f8;
    padding: 10px 10px 10px 10px;
    text-align: center;
    border-radius:7px;
}
.block-form input, .block-form button
{
    width: 100%;
    box-sizing: border-box;
}

.iconos i
{
    background: white;
    padding: 5px;
    border-radius: 100%;
    position: relative;
    right: 100px;
}
.conejos 
{
    background-image: url(../img/bunny-head.png);
    padding: 46px;
    box-sizing: border-box;
    background-position: right;
    background-size: contain;
    background-repeat: repeat;
}
footer
{
    color: white;
    background: #1199cb;
    padding: 20px;
    text-align: center    
}

footer span
{
    color:#256a72;
}

@media (max-width: 900px)
{
    .container
    {
        width: 700px;
    }
}


@media (max-width: 600px)
{
    .container
    {
        width: 80%;
    } 
    .letras
    {
        width: 50%;
        position: relative;
        left: 25%;
        padding-bottom: 50px;
        
        
    }
    .fondoflor
    {
        width: 100%;    
    }
    .izquierda
    {
        width: 100%;    
    }
    .derecha{
        visibility: hidden;
        display: none;
    }
    .container i
    {
        display: inline-block;
        float: right;
        color: white;
        font-size: 50px;
        
    }
    .container .list-menu
    {
        display: none;
    }